.pagination {
  display: flex !important;
  margin: 10px auto !important;
  justify-content: center;

  .page-link {
    border: 1px solid #aaa;
    &:hover {
      background-color: var(--color-gray);
    }
  }

  .active a {
    background-color: var(--color-gray);
  }

  li.disabled a {
    opacity: 0.6;
  }
}